body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #09090b, #262626);
  background-size: 200% 100%;
  animation: slideGradient 5s ease-in-out infinite alternate;
}

@keyframes slideGradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
